<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Change Password</title>
		<link rel="stylesheet" href="{% static 'css/style_signup.css'%}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>
<body>
    <section class="Form my-5 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 h-auto px-5 py-5 text-center">
                    <h3 class="font-weight-bold py-3">Change Password</h3>
                    <form method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-lg-12">
                                <input class="form-control my-3 px-3" type="password" name="old_password" autofocus placeholder="Old Password" required id="id_old_password">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-12">
                                <input class="form-control my-3 px-3" type="password" name="new_password1" placeholder="New Password" required id="id_new_password1">
                                <p class="requirement">
                                    <ul>
                                        <li>Your password can’t be too similar to your other personal information.</li>
                                        <li>Your password must contain at least 8 characters.</li>
                                        <li>Your password can’t be a commonly used password.</li>
                                        <li>Your password can’t be entirely numeric.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-12">
                                <input class="form-control my-3 px-3" type="password" name="new_password2" placeholder="Confirm Password" required id="id_new_password2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-12">
                                <button type="submit" class="boxed-btn3">Signup</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </section>
<!--      <form method="post">-->
<!--        {% csrf_token %}-->
<!--&lt;!&ndash;        {{ form }}&ndash;&gt;-->
<!--          -->
<!--        <button type="submit">Save changes</button>-->
<!--      </form>-->
</body>
</html>