<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
      <footer class="text-center text-white" style="background-color: #f1f1f1;">
      <!-- Copyright -->
      <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright | All Right Reserves |
        <a class="text-dark" href="{% url 'home' %}">Feed Angels</a>
      </div>
      <!-- Copyright -->
    </footer>
</body>
</html>