<!DOCTYPE html>
{% include "auth/header.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PickUp Points</title>

    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
</head>
<body>
<!-- first section_area_start -->
<!--<form action="{% url 'pickupPointSearchResult' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
    <button type="submit">Submit</button>
</form>
-->
<form action="{% url 'pickupPointSearchResult' %}" method="get">
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center pickup1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <select name="q" class="form-control form-control-lg" style="width:150px;">
                            <option value="Dhaka">Dhaka</option>
                            <option value="Khulna">Khulna</option>
                            <option value="Rajshahi">Rajshahi</option>
                            <option value="Sylhet">Sylhet</option>
                            <option value="Rangpur">Rangpur</option>
                            <option value="Chittagong">Chittagong</option>
                            <option value="Cumilla">Cumilla</option>
                        </select>
                    </div>
                    <!--<div class="col-sm">
                        <select class="form-control form-control-lg" style="width:150px;">
                            <option>Dhaka</option>
                            <option>Cumilla</option>
                            <option>Chittagong</option>
                            <option>Barisal</option>
                        </select>
                    </div>-->
                    <div class="col-sm">
                        <button type="submit" class="btn btn-outline-success">Find PickUp Point <i class="fa fa-search"></i></button>
                        <!--<button type="submit">Find Pickup Points</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--<style type="text/css">
body{margin-top:100px;}
</style>-->
</body>
</html>