<!DOCTYPE html>
{% include "auth/header.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PickUp Points</title>

    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
</head>
<body>
<!-- first section_area_start -->
<!--<form action="{% url 'pickupPointSearchResult' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
    <button type="submit">Submit</button>
</form>
-->
<form action="{% url 'pickupPointSearchResult' %}" method="get">
    <div class="slider_area">
        <div class="pickup1 overlay-pickup py-5">
            <div class="container padding">
                <div class="row">
                    <h1 class="text-center">Find Pickup Points</h1>
                </div>
                <div class="row select my-3">
                    <div class="col">
                        <select name="q" class="form-control form-control-lg">
                            <option value="Dhaka">Dhaka</option>
                            <option value="Cumilla">Cumilla</option>
                            <option value="Rajshahi">Rajshahi</option>
                            <option value="Sylhet">Sylhet</option>
                            <option value="Rangpur">Rangpur</option>
                            <option value="Chittagong">Chittagong</option>
                            <option value="Cumilla">Cumilla</option>
                        </select>
                        <button type="submit" class="btn btn-light my-4">Find PickUp Point <i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--<style type="text/css">
body{margin-top:100px;}
</style>-->
</body>
{% include "auth/footer.html" %}
</html>