<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Become Volunteer | {{user.full_name}}</title>
</head>
<body>
      <div class>
            <h2>Volunteer SignUp</h2>
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="text" Required name="address" maxlength="200" placeholder="Address">
              <input type="file" Required name="img">
              <button type="submit" class="btn btn-primary">Volunteer Sign Up</button>
            </form>
    </div>
</body>
</html>